{% extends 'home/partial/base.html' %}
{% load static %}

{% block index %}
<script>
    window.onload = function () {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                document.getElementById("id_latitude").value = position.coords.latitude;
                document.getElementById("id_longitude").value = position.coords.longitude;
            });
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    };
</script>
<!-- navbar -->
<nav class="main-menu" style="padding-left: 0;">
    <ul>
        <li>
            <a href="#">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Community Dashboard
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-globe fa-2x"></i>
                <span class="nav-text">
                    Global Surveyors
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-comments fa-2x"></i>
                <span class="nav-text">
                    Group Hub Forums
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-camera-retro fa-2x"></i>
                <span class="nav-text">
                    Survey Photos
                </span>
            </a>

        </li>
        <li>
            <a href="#">
                <i class="fa fa-film fa-2x"></i>
                <span class="nav-text">
                    Surveying Tutorials
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-book fa-2x"></i>
                <span class="nav-text">
                    Surveying Jobs
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-cogs fa-2x"></i>
                <span class="nav-text">
                    Tools & Resources
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-map-marker fa-2x"></i>
                <span class="nav-text">
                    Member Map
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-info fa-2x"></i>
                <span class="nav-text">
                    Documentation
                </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
            <a href="#">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>
    </ul>
</nav>

<div class="container-content">
    <div class="row">
        <div class="col-md-6">
            <h1>Weather Data for {{ weather_data.name }}</h1>
            <p>Latitude: {{ weather_data.coord.lat }}</p>
            <p>Longitude: {{ weather_data.coord.lon }}</p>
            <p>Weather: {{ weather_data.weather.0.description }}</p>
            <p>Temperature: {{ weather_data.main.temp }} K</p>
            <p>Feels Like: {{ weather_data.main.feels_like }} K</p>
            <p>Pressure: {{ weather_data.main.pressure }} hPa</p>
            <p>Humidity: {{ weather_data.main.humidity }} %</p>
            <p>Visibility: {{ weather_data.visibility }} meters</p>
            <p>Wind Speed: {{ weather_data.wind.speed }} m/s</p>
            <p>Wind Direction: {{ weather_data.wind.deg }} degrees</p>
            <p>Cloudiness: {{ weather_data.clouds.all }} %</p>
            <p>Rain Volume (last hour): {{ weather_data.rain.1h }} mm</p>
            <p>Sunrise: {{ weather_data.sys.sunrise }}</p>
            <p>Sunset: {{ weather_data.sys.sunset }}</p>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="card col-md-4">

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock index %}