{% extends 'home/partial/base.html' %}
{% load static %}

{% block index %}
<!-- map js -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.umd.js"></script>
<script src="https://cdn.maptiler.com/leaflet-maptilersdk/v2.0.0/leaflet-maptilersdk.js"></script>

<!-- navbar -->
<div class="navbar sticky" id="navbar">
  <div class="logo">
      <a href="#" style="font-size: 20px;">Wildfire</a>
  </div>
  <div class="nav-links pc-navlinks">
      <a href="{% url 'userauths:sign-out' %}">Logout</a>
      <a href="{% url 'home:map' %}">Map</a>
      <a href="{% url 'home:home' %}">Home</a>
  </div>
  <div class="nav-links mobile-navlinks">
      <a href="#">Login</a>
      <a href="{% url 'home:map' %}">Map</a>
      <a href="{% url 'home:home' %}">Home</a>
  </div>

  <div class="mobile-menu-toggle">
      <div class="hamburger-menu">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
      </div>
  </div>
</div>
<script>
  document.querySelector('.hamburger-menu').addEventListener('click', function () {
      var links = document.querySelector(".mobile-navlinks");
      var hamburger = document.querySelector(".hamburger-menu");
      if (links.style.display === "flex") {
          links.style.display = "none";
          hamburger.classList.remove("cross");
      } else {
          links.style.display = "flex";
          hamburger.classList.add("cross");
      }
  });
</script>
<div id="result" style="padding-top: 70px;">

</div>

<div id="map"></div>
<script>
  const key = 'WeDkOLJgAzvafGXb9MVB';
  const map = L.map('map').setView([{{latitude}}, {{longitude}}], 14);
  const mtLayer = L.maptilerLayer({
    apiKey: key,
    style: "hybrid", //optional
  }).addTo(map);
</script>


{% endblock index %}