{% extends 'home/partial/base.html' %}
{% load static %}

{% block index %}
<!-- map js -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.umd.js"></script>
<script src="https://cdn.maptiler.com/leaflet-maptilersdk/v2.0.0/leaflet-maptilersdk.js"></script>


<div id="result" style="padding-top: 70px;">

</div>

<div id="map"></div>
<script>
  const key = 'WeDkOLJgAzvafGXb9MVB';
  const map = L.map('map').setView([{{latitude}}, {{longitude}}], 14);
  const mtLayer = L.maptilerLayer({
    apiKey: key,
    style: "hybrid", //optional
  }).addTo(map);
</script>


{% endblock index %}