absl-py
altair
annotated-types
appnope
asgiref
asttokens
astunparse
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
coloredlogs
comm
debugpy
decorator
diff-match-patch
Django
django-import-export
django-jazzmin
exceptiongroup
executing
flatbuffers
future
gast
geocoder
geographiclib
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
grpcio
grpcio-status
gunicorn
h11
h5py
httplib2
humanfriendly
idna
ipykernel
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
ml-dtypes
mpmath
namex
nest-asyncio
numpy
onnxruntime
opencv-python
opt-einsum
optree
outcome
packaging
pandas
parso
pathlib
pexpect
pillow
pip-system-certs
platformdirs
prompt_toolkit
proto-plus
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyparsing
pyreadline3
PySocks
python-dateutil
python-dotenv
pytz
pyzmq
ratelim
referencing
requests
rich
rpds-py
rsa
setuptools
six
smmap
sniffio
sortedcontainers
sqlparse
stack-data
streamlit
sympy
tablib
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
toml
toolz
tornado
tqdm
traitlets
trio
trio-websocket
typing_extensions
tzdata
uritemplate
urllib3
watchdog
wcwidth
websocket-client
Werkzeug
wheel
whitenoise
wrapt
wsproto
youtube-transcript-api
